{
  "presets": [
    [
      "@nx/js/babel",
      {
        "useBuiltIns": "usage"
      }
    ],
    [
      "@nx/react/babel",
      {
        "runtime": "automatic",
        "useBuiltIns": "usage"
      }
    ]
  ]
}
