name: CI
on:
  push:
    branches:
      - main
      - alpha
      - beta
      - next
  pull_request:

env:
  NX_CLOUD_DISTRIBUTED_EXECUTION: true
  NX_CLOUD_ACCESS_TOKEN: ${{secrets.NX_CLOUD_ACCESS_TOKEN}}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
  DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      # consider creating reusable action for this
      - uses: actions/checkout@v3
        name: Checkout [Trunk]
        if: ${{ github.event_name != 'pull_request' }}
        with:
          fetch-depth: 0
      - uses: actions/checkout@v3
        name: Checkout [PR]
        if: ${{ github.event_name == 'pull_request' }}
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0
      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v3
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: pnpm
      - run: pnpm install --frozen-lockfile --ignore-scripts
      - run: pnpm nx-cloud start-ci-run
      # TODO: Revert to `affected` after one successful run (temporary fix after git history rewrite)
      - run: pnpm nx run-many --target=lint --all --parallel --max-parallel=3
      - run: pnpm nx run-many --target=test --all --parallel --max-parallel=2
      - run: pnpm nx run-many --target=build --all --parallel --max-parallel=3
      - run: NX_CLOUD_DISTRIBUTED_EXECUTION=false pnpm nx run-many --target=docker-build --all
      - run: NX_CLOUD_DISTRIBUTED_EXECUTION=false pnpm nx run-many --target=release --all
      - run: pnpm nx-cloud stop-all-agents

  agents:
    runs-on: ubuntu-latest
    name: Agent 1
    timeout-minutes: 60
    strategy:
      matrix:
        agent: [1, 2, 3]
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: pnpm
      - run: pnpm install --frozen-lockfile --ignore-scripts
      - name: Start Nx Agent ${{ matrix.agent }}
        run: pnpm nx-cloud start-agent
